.header
      ul.header
        li
          a(href='') Home
        li
          a(href='/pens') Pens
        li
          a(href='/pensils') Pensils
        li
          a(href='/papers') Papers
        li
          a(href='/feedback') Feedback
          
 
 