extends ../layout

block content
  h1= title 
  
  div
   form(action='/admin/users/new', method="post")
      fieldset 
        legend Create new product
        table
          tr
            td Username:
            td
              input(type='text', name='username', title='Example: bender')
          tr
            td Password:
            td
              input(type='password', name='password', title='Example: 12FR67676')
          tr
            td Email:
            td
              input(type='email', name='email')
          tr
            td Group:
            td
              input(type='text', name='group')
          
          tr
                
            td 
            td
               button(type='submit') Create
              
  a(href="/admin/products") <- Back 