body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.header {
    margin: 0;
    padding: 4px; 
   }
   
ul.header li {
    display: inline;
    margin-right: 5px; 
    padding: 3px; 
   }
   
.leftside {
    float: left; 
    width: 20%; 
    background-color: gray;
}

.main {
   float: right; 
   width: 78%; 
   margin: 5px;
}

.downmenu {
  display: none;
  width: 250px;
  background: #ccc;
  color: red;
  border-style: solid;
  border-color: blue;
  border-width: 2px; 
}

.downmenu ul {
   width: 100%;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
}

.downmenu li {
  list-style-type: none;
  background-color: yellow;
  padding: 5px 5px 5px 5px;
}

.downmenu li:hover {
    background-color: silver;
}

